<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Single</title>
	<style type="text/css" media="screen">
    .container {
        margin: 0 10%;
    }
    </style>
</head>
<body>
	<div class="container">
    	<header>
        	<h1>Header</h1>
        </header>
    	<section>
        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus augue velit, elementum convallis eleifend non, aliquam a velit. Morbi accumsan arcu vel justo scelerisque pulvinar. Nam condimentum lorem sit amet justo venenatis vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus augue velit, elementum convallis eleifend non, aliquam a velit. Morbi accumsan arcu vel justo scelerisque pulvinar. Nam condimentum lorem sit amet justo venenatis vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </section>
        <footer>
        	<p>Footer</p>
        </footer>
       
    </div>
</body>
</html>
<body>
</body>
</html>
